

<!DOCTYPE html>
<html>
<head>
    <title>Registration form </title>
</head>
<body>
    <h2>Registration Form</h2>

    <form action="/register" method ="GET">
        <label>Username:</label>
        <input type ="text" name="username"><br><br>


        <label>Email:</label>
        <input type="text" name="email"><br><br>

        <label>Password:</label>
        <input type="password" name="password"><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>